/******************************************************************************
 * WATS3010: Introduction to Web Development
 * Embedded Media Assignment
 *
 * Site Styles
 *****************************************************************************/

html {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: sans-serif;
  background-color: #b1e6fd;
}

header {
  padding: 0;
  margin: 0;
  background: url('../img/official_header.jpg');
  height: 350px;
  width: auto;
  background-repeat: no-repeat;
  background-position: 30% 0%;
}

h1 {
  display: none;
}

h2 {
  color: purple;
}

.subtitle {
  display: block;
  position: relative;
  left: 48%;
  top: 88%;
}

p.subtitle {
  font-size: larger;
  font-weight: bold;
}

.main-nav li {
  display: block;
  background-color: white;
  border: 2px solid blueviolet;
  list-style: none;
  padding: 15px 35px;
  float: left;
  position: relative;
  left: 43%;
}

.main-nav li:not(:last-child) {
  border-right: none;
}

.main-nav a {
  text-decoration: none;
  font-weight: bold;
}

a:visited {
  color: purple;
}

a:active {
  color: blue;
}

a:hover {
  color: black;
}

aside {
  background-color: #79bf1b;
  position: fixed;
  top: 270px;
  right: 250px;
  width: 240px;
  height: auto;
}

aside img {
  width: 180px;
  height: auto;
  padding: 10px;
  position: relative;
  left: 20px;
}

#about {
  display: block;
  width: 50%;
  height: auto;
  position: relative;
  left: 20%;
  padding: 10px 20px 10px 0px;
}

#watch {
  position: relative;
  left: 20%;
}

video {
  width: 35%;
  height: auto;
}

#listen {
  width: 50%;
  height: auto;
  position: relative;
  left: 20%;
}

.lead {
  font-size: 110%;
  color: purple;
  padding-right: 25px;
}

.weybec-people li {
  display: block;
  list-style: none;
  padding-bottom: 30px;
  padding-left: 50px;
  float: left;
}

.weybec-people li img {
  height: 160px;
  width: auto;
  padding-top: 30px;
  padding-right: 50px;
  padding-bottom: 10px;
  padding-left: 0px;
}

#about p {
  clear: left;
  display: block;
}

footer p {
  position: relative;
  left: 20%;
  font-size: small;
}