/******************************************************************************
 * WATS3010: Introduction to Web Development
 * Embedded Media Assignment
 *
 * Site Styles
 *****************************************************************************/

html {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: sans-serif;
  background-color: #b1e6fd;
}

header {
  min-height: 400px;
  background-image: url('../img/official_header.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

h1 {
  display: none;
}

h2 {
  color: purple;
}

p.subtitle {
  position: relative;
  left: 45%;
  padding-top: 20px;
  font-size: larger;
  font-weight: bold;
}

/*******  top and bottom navigation bar *******/

.main-nav {
  display: inline-block;
  position: relative;
  left: 40%;
}

.main-nav li {
  list-style-type: none;
  float: left;
  background-color: white;
  border: 2px solid blueviolet;
  padding: 15px 35px;  
}

.main-nav li:not(:last-child) {
  border-right: none;
}

.main-nav a {
  text-decoration: none;
  font-weight: bold;
}

/**********   link styles  *******************/

a:visited {
  color: purple;
}

a:active {
  color: blue;
}

a:hover {
  color: black;
}

/************** social media box ***************/

#social {
  background: pink;
  position: fixed;
  top: 50px;
  right: 0;
  width: 25px;
}

#social:hover {
  width: 250px;
  transition: 2s width;
}

aside img {
  width: 180px;
  height: auto;
  padding: 20px;
}

section {
  display: block;
  position: relative;
  left: 20%;
}


/****************** video *********************/

video {
  width: 600px;
  height: auto;
}

/******** download buttons ********************/

.download-button 
{
  background-color: white;
  border: 2px solid purple;
  padding: 15px 32px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
}

/**********************  about story and creators ***********************/

#about {
  display: block;
  width: 40%;
  height: auto;
  padding: 10px;
}

.lead {
  font-size: 110%;
  color: purple;
  padding-right: 25px;
}

.headshot {
  height: 160px;
  width: auto;
  margin: 10px;
  
}

.weybec-people li {
  float: left;
  list-style: none;
  text-align: center;
  font-style: italic;
  padding-bottom: 20px;
}

#about p {
  clear: left;
}

/*************************** footer **********************/

footer p {
  position: relative;
  left: 20%;
  font-size: small;
  padding-bottom: 20px;
}