/******************************************************************************
 * WATS3010: Introduction to Web Development
 * Embedded Media Assignment
 *
 * Site Styles
 *****************************************************************************/

html {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: sans-serif;
  background-color: #b1e6fd;
}

header {
  min-height: 400px;
  background-image: url('../img/official_header.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

h1 {
  display: none;
}

h2 {
  color: purple;
}

.subtitle {
  position: relative;
  left: 48%;
}

p.subtitle {
  font-size: larger;
  font-weight: bold;
}

/*******  top and bottom navigation bar *******/

.main-nav li {
  display: block;
  background-color: white;
  border: 2px solid blueviolet;
  list-style: none;
  padding: 15px 35px;
  float: left;
  position: relative;
  left: 43%;
}

.main-nav li:not(:last-child) {
  border-right: none;
}

.main-nav a {
  text-decoration: none;
  font-weight: bold;
}

/**********   link styles  *******************/

a:visited {
  color: purple;
}

a:active {
  color: blue;
}

a:hover {
  color: black;
}

/************** social media box ***************/

#social {
  background: pink;
  position: fixed;
  top: 50px;
  right: 0;
  width: 25px;
}

#social:hover {
  width: 250px;
  transition: 2s width;
}

aside img {
  width: 180px;
  height: auto;
  padding: 20px;
}

/****************** video *********************/

#watch {
  postition: relative;
  left: 20%;
}

#watch h2 {
  position: relative;
  left: 20%;
}

#watch h3 {
  position: relative;
  left: 20%;
}

#watch p {
  position: relative;
  left: 20%;
}

video {
  position: relative;
  left: 20%;
  width: 35%;
  height: auto;
}

/**************** audio *********************/

#listen {
  position: relative;
  left: 20%;
}


/**********************  about story and creators ***********************/

#about {
  display: block;
  width: 40%;
  height: auto;
  position: relative;
  left: 20%;
  padding: 10px 20px 10px 0px;
}

.lead {
  font-size: 110%;
  color: purple;
  padding-right: 25px;
}

.headshot {
  height: 160px;
  width: auto;
  margin: 10px;
  padding: 5px 20px 5px 10px;
}

.weybec-people li {
  float: left;
  list-style: none;
  font-style: italic;
  padding-bottom: 20px;
}

#about p {
  clear: left;
}

/*************************** footer **********************/

footer p {
  position: relative;
  left: 20%;
  font-size: small;
  padding-bottom: 20px;
}